@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html, body {
        height: 100%;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    *, *::after, *::before {
        box-sizing: inherit;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}