@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html, body {
        height: 100%;
        box-sizing: border-box;
        scroll-behavior: smooth;
        background-color: black;
    }

    *, *::after, *::before {
        box-sizing: inherit;
    }

    #search-menu::-webkit-scrollbar {
        display: none;
    }
}